.header{
    width: 100%;
    background-color: #FFFF;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 5;
}



.navUl{
    display: flex;
    margin-top: 32px;
    
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    width: 1022px; 
    margin: 0 auto;
}
.navLi1, .navLi2, .navLi3, .navLi4, .navLi5{
    margin-left: 10px;
    margin-right: 10px;  
    position: relative;  
}






/* sub-nav styles */

.subNav1{
    padding-top: 35px;
    width: 270px;
    background-color: white;
    position: absolute;    
    left: -10px;
    list-style: inside;
    visibility: hidden;
    transition:  all .05s ease-in .25s;
    
}
.subNav1, .subNav2, .subNav3, li{
    padding-left: 10px;
    padding-bottom: 20px;
    
}
.subNavLink{
    
}
.subNavLink:hover{
    text-decoration: underline;
}
.subNav2{
    padding-top: 35px;
    width: 270px;
    background-color: white;
    position: absolute;   
    left: -10px;
    list-style: inside;
    visibility: hidden;
    transition:  all .05s ease-in .25s;
}

.subNav3{
    padding-top: 35px;
    width: 270px;
    background-color: white;
    position: absolute;  
    left: -10px;
    list-style: inside;
    transition:  all .05s  ease-in .3s;
    visibility: hidden;
    
}

.navLi1:hover .subNav1{
    visibility: visible;
}
.navLi1:hover .navLink1{
    box-shadow: inset 0 3px black;
}
.navLi2:hover .subNav2{
    visibility: visible;
}
.navLi2:hover .navLink2{
    box-shadow: inset 0 3px black;
}
.navLi3:hover .subNav3{
    visibility: visible;
}
.navLi3:hover .navLink3{
    box-shadow: inset 0 3px black;
}
.navLi4:hover .navLink4{
    box-shadow: inset 0 3px black;
}
.navLi5:hover .navLink5{
    box-shadow: inset 0 3px black;
}
.subNav1 li:last-child{
    padding-bottom: 0px;
}
.subNav2 li:last-child{
    padding-bottom: 0px;
}
.subNav3 li:last-child{
    padding-bottom: 0px;
}
/* sub-nav styles */



.navLink1, .navLink2, .navLink3, .navLink4, .navLink5{
    transition: all .15s linear .25s ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    font-size: 17px;
}
.logodiv{
    align-self: center;
   
}
.logo{
    padding-top: 5px;
    font-size: 34px;
    transition: all 0.15s linear ;

}
.logo:hover{
    box-shadow: inset 0 3px black;
}
.languages{
    margin-top: 30px;
    font-size: 20px;
}
.navLink:hover{
    box-shadow: inset 0 3px black;
    
}



